<div class="nav-toggle">
    <input type="checkbox" name="toggle-check" unchecked id="toggle-check" />
    <label for="toggle-check"></label>
    <div class="sidenav"> 
        <a class="linknav" [routerLink]="['/']" routerLinkActive="router-link-active" >
            <span class="navlink" ><small>Home</small></span>
        </a> 
        <a class="linknav" [routerLink]="['/']" routerLinkActive="router-link-active" >
            <span class="navlink" ><small>Our purpose</small></span>
        </a>
        <a class="linknav"  [routerLink]="['/deliveries']" routerLinkActive="router-link-active">
           <span class="navlink" ><small>Our portfolio</small></span>
        </a>
        <a class="linknav" [routerLink]="['/']" routerLinkActive="router-link-active" >
            <span class="navlink" ><small>What we do</small></span>
        </a> 
        <a class="linknav"  [routerLink]="['/deliveries']" routerLinkActive="router-link-active">
           <span class="navlink" ><small>Contact</small></span>
        </a>
    <hr>
    </div>
</div>