:root {
    --primary-color: hsl(357, 65%, 58%);
    --dark: hsl(355, 100%, 20%);
    --medium: hsl(355, 100%, 66%);
    --light: hsl(355, 100%, 90%);   
  }

  ::-webkit-scrollbar-track
  { 
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: var(--light);
  } 
  ::-webkit-scrollbar
  {
      width: 5px;
      background-color: #F5F5F5;
  }
  
 ::-webkit-scrollbar-thumb
  { 
      background-image: -webkit-linear-gradient(45deg,
                        var(--medium) 25%,
                        transparent 25%,
                        transparent 50%,
                        var(--medium) 50%,
                        var(--medium) 75%,
                        transparent 75%,
                        transparent)
  }
 
  * {
    box-sizing: border-box;
}

html,
body {   
  margin: 0px;
  padding: 0px;
	text-rendering: optimizeLegibility;
  font-weight: 400; 
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
  cursor: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPGc+CiAgICA8ZWxsaXBzZSBzdHJva2U9IiMwMDAiIHJ5PSI0LjE4NzQ5IiByeD0iNC4xODc0OSIgaWQ9InN2Z18xIiBjeT0iNSIgY3g9IjUiIHN0cm9rZS13aWR0aD0iMS41IiBmaWxsPSIjMDAwMDAwIi8+CiAgPC9nPgo8L3N2Zz4K") 5 5, auto;
}


/* Portrait */
@media (max-width: 767px)  {
    html,body{
      max-width: 100%;
      overflow-x: hidden!important;
      margin: 0px;
      padding: 0px;
    }
    .clients{
      text-align: center!important;margin: auto;    
      display: block;
    }
    .scroller { 
      line-height: 2em;
      font-size: 20px!important;
    } 
    .ban{
      display: none;
    }
    .row{
      margin: 0rem!important;
    }
    .margin-top{
      margin-top: 10%!important;
    }
    .margin-top-max{
      margin-top: 40%!important;
    }
    .margin{
      margin: 10%!important;
    }
    .padding-max{
      padding: 20%;
    }
    .padding{
      padding: 10%;
    }
    .clients{ 
      padding-top: 10%;
    }
    .s5{
      height: auto;
    }
    .s2{
      height: auto;
    }
    .s7{
      height: 150vh!important;
    }
    .s3 {
      height: 120vh!important;
    }
 
    .smallFont{
      font-size: 2.5em!important;
    }

}
 
.start{
  color: hsl(0, 100%, 50%);  
  background-image:linear-gradient(hsl(0, 100%, 66%)  0% ,hsl(0, 100%, 66%)  20%,hsl(0, 100%, 66%)  50%,hsl(0, 100%, 68%)  60%,hsl(0, 100%, 72%)  100%);
}
.s2{
  background-color: #fff2dd;
}  
.s6{
  background-color: #fff2dd;
}
.s4{
  background-color: #fff2dd;
}
.s7{
  background-color: #fff2dd;
}
.s3{

  background-color: #76eff8;

}

.title{
	font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.subtitle{
    
	font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 16px;
}

.hidden {
    display: none;
}

canvas {
    display: block;
    vertical-align: bottom;
  }


  
  /* ---- particles.js container ---- */
  
  #particles-js { 
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover; 
    position: absolute;
  } 
 
   
.nav-toggle {
  right: 3%;
    top: 0;
    z-index: 10001;
    width: 50px;
    height: 50px; 
    padding: 1%;
    
    position: fixed;
  }

  .nav-toggle:hover {
    color: white;
  }
  
  .nav-toggle input {
    display: none;
  }
  
  .nav-toggle input + label {
    display: block;
    width: 50px;
    border-radius: 10px;
    height: 50px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
  }
  
  .nav-toggle input + label::before,
  .nav-toggle input + label::after {
    content: "";
    height: 5px;
    background: var(--light);
    position: absolute;
    left: 20%;
    transition: 0.3s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  
  .nav-toggle input + label::before {
    top: 40%;
    width: 50%;
  }
  
  .nav-toggle input + label::after {
    top: 55%;
    width: 60%;
  }
  
  .nav-toggle input:checked + label::before {
    transform: rotate(45deg);
    top: 50%;
    width: 60%;
  }
  
  .nav-toggle input:checked + label::after {
    transform: rotate(-45deg);
    top: 50%;
    background: var(--dark);
  }
  
  .sidenav {
    position: fixed;
    right: 0;
    top: 0;
    width: 0;
    height: fit-content;
    margin-top: 70px; 
    border-radius: 10px; 
    background: transparent; 
    transition: 0.3s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    display: flex;
    align-items: flex-start; 
    overflow-x: hidden;
    flex-direction: column;
    z-index: 1000;
    flex-wrap: wrap;
  }
  

  .linknav{ 
    color: var(--dark);
    margin: 1rem 0;
    font-size: 30px;
    cursor: pointer;	
    font-family: 'Poppins', sans-serif;
  }
  .linknav:hover{ 
    color: var(--light)!important; 
  }
  
  .nav-toggle input:checked + label + .sidenav {
    width: 300px;
    padding: 3%;
  }
  .flex-container {
    /* We first create a flex layout context */
    display: flex;
    
    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;
    
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
    
    padding: 1%;
    margin: 0;
    list-style: none; 
    position: absolute; 
        top:0;
        right:0;
  }
  .flex-container1 { 
    display: flex;
    
 
    flex-flow: row wrap;
     
    justify-content: space-around;
    
    padding: 1%;
    margin: 0;
    list-style: none; 
    position: absolute; 
        top:0;
        left:0;
  }

  .flex-container2 { 
    display: flex;
    
 
    flex-flow: row wrap;
     
    justify-content: space-around;
     
    margin: 0;
    list-style: none;  
  }
  
  .flex-item {
    background: none;  
    color: white;
    font-weight: bold;  
  }
  
.percent {
  position: fixed;
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  right: 100px;
  flex-direction: column;
  background: rgb(197, 65, 116,0.2);
  height: 140px;
  width: 3px;
  z-index: 2;
}

.fill {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #ff9595;
  transition: background 0.15s ease;

  z-index: 2;
}
.breadcrumb-item+.breadcrumb-item:before {
  float: left;
  padding-right: .5rem;
  color: var(--light);
  content: var(--bs-breadcrumb-divider,"/")  
}

.bottoms-up{
  writing-mode: tb-rl;
  transform: rotate(-180deg)!important;  
}
.vertcent{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}



.btn1 {
  display: inline-block;
  color: #fff;
  padding: 32px;
  position: relative;
  letter-spacing: 1px;
}
.btn__circle, .btn__text, .btn__white-circle {
  position: absolute;
}
.btn__circle {
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 100%;
  width: 100%;
  box-shadow: 0 0 1px 1px #fff;
  transition: 0.3s linear;
}
.btn__white-circle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 56px;
  height: 56px;
  border-radius: 100%;
  background: #fff;
  display: flex;
  transition: 0.3s ease-in-out;
}
.btn__white-circle svg {
  width: 24px;
  height: 24px;
  margin: auto;
}
.btn__text {
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  z-index: 2;
  padding: 24px 8px;
  transition: 0.3s linear;
  color: white!important;
}
.btn1:hover .btn__circle {
  transform: scale(0);
}
.btn1:hover .btn__white-circle {
  transform: translate(-50%, -50%) scale(1);
}
.btn1:hover .btn__text {
  transform: translate(40px, -50%);
}
 
 
 
.circles{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

.link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 10px 0; 
}
.link:hover{
  
  color: black!important;
}
.link-wrapper { 
  display: block;
  padding: 20px 0;
}
.inner-wrapper {
  position: relative;
  display: inline-block;
}
.hover-1:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s;
}
.hover-1:hover:after {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.page {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100vh;
  background: #000;
  animation: colors 15s infinite;
  animation-timing-function: cubic-bezier(.85,.01,.19,.99); 
} 
.scroller {
  height: 1em;
  overflow: hidden;
  font-size: 2em;
}
.scroller span {
  display: block;
  animation: scroller 10s infinite;
  animation-timing-function: ease-in-out(0.42,0,0.58,1);
  line-height: 1;
  color: #fff;
}
@keyframes scroller {
  0% {
    transform: translateY(0);
 }
  20% {
    transform: translateY(-1em);
 }
  40% {
    transform: translateY(-2em);
 }
  60% {
    transform: translateY(-3em);
 } 
  80% {
    transform: translateY(-4em);
 }100% {
  transform: translateY(-5em);
}
}
@keyframes colors {
  0% {
    background-color: #12c2e9;
 }
  20% {
    background-color: #c471ed;
 }
  40% {
    background-color: #f64f59;
 }
  60% {
    background-color: #f64f59;
 }
  80% {
    background-color: #40E0D0;
 }
  100% {
    background-color: #12c2e9;
 }
} 
.clients{ 
  display: block;
  max-width:100%;
  max-height:initial;
  width: auto;
  height: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
